.login-form input,
.todo-form input,
.greeting {
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(254, 219, 102, 0.5);
  background: transparent;
  width: 300px;
  text-align: center;
  font-size: 30px;
}

.greeting {
  border: none;
  padding-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: rgb(205, 205, 205);
  text-shadow: 4px 4px 3px black;
  letter-spacing: 2px;
}

.login-form input,
.login-form input::placeholder {
  color: azure;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
