@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

@import "section.css";
@import "todo.css";
@import "clock.css";
@import "greeting.css";
@import "quote.css";
@import "background.css";

.hidden {
  display: none;
}

body {
  color: #2e363e;
  font-family: "open sans", sans-serif;
}
